html {
  scrollbar-gutter: stable;
}

.sidebar-menu .ant-menu-item-selected {
  background: #e6f4ff !important;
  border-right: 3px solid #1677ff !important;
}

.sidebar-menu .ant-menu-item-selected a,
.sidebar-menu .ant-menu-item-selected .anticon {
  color: #1677ff !important;
  font-weight: 600;
}
